<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SessionsStopwatch.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SessionsStopwatch.AppSettings>
            <setting name="AutoStartOnSession" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LimitToMonitor" serializeAs="String">
                <value>True</value>
            </setting>
        </SessionsStopwatch.AppSettings>
    </userSettings>
</configuration>